<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tmdcontactsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_contacts_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_contacts_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMDContactsApp">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddContactToGroupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".DetailedGroupListActivity" />
        <activity android:name=".UpdatingContactActivity" />
        <activity android:name=".ForgottenPasswordActivity" />
        <activity android:name=".ContactsListActivity" />
        <activity android:name=".UserRegistryActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>